html,
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1194px;
  max-width: 100%; /*반응형을 위한 퍼센트*/
  margin: 0 auto; /*전체 container안에서 가운데 정렬*/
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
  grid-auto-rows: 100px; /* 그 외(암시적) 행의 크기 정의 */
  grid-gap: 30px;
}
section > div {
  background-color: aqua;
  border: 1px solid blue;
}
/*첫 번째 방법*/
.imag1 {
  width: 72px; /*이미지 오른쪽 여백 지우기*/
  color: red;
}

.imag1 > a > img {
  /* 이미지 링크 가능 */
  /* 1첫번째 방법 : div의 크기에 맞게 이미지 넣기: 직접 이미지 크기를 조절해야한다*/
  width: 72px;
  height: 100px;
  object-fit: cover;
  border: 1px solid yellow;
}
.imag2 {
  z-index: 1;
}
section > div:nth-child(2) {
  /* 2번째 방법 : flex 이용넘치는 이미지 자르고 센터 맞추기*/
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 100px;
}
.imag3 {
  /*background-image의 이미지를 전체나오게 하기 위해서 width 값 지정*/
  width: 72px;
}
/* 이미지 링크 사용 불가능*/
section > div:nth-child(3) {
  background-image: url("../Introduce/images/j2.jpg.jpg");
  background-size: cover;
  color: #fff;
}
.imag4 {
  position: relative; /*absolute 부모요소가 되기 위한 relative*/
  overflow: hidden;
  width: 72px;
  height: 100px;
}
/*position를 이용한 이미지 넣기*/
.imag4 img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imag5 {
  width: 72px;
}
section > div:nth-child(5) {
  background-image: url("../Introduce/images/j5.jpg.jpg");
  background-size: cover;
}
.imag8 {
  width: 72px;
}
section > div:nth-child(8) {
  background-image: url("../Introduce/images/j1007.jpg.jpg");
  background-size: cover;
}
.imag9 > a {
  background: red;
  display: block;
  height: 100px;
  width: 72px;
  position: relative;
}
.imag9 > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  overflow: hidden;
}
section > div:nth-child(10) {
  background-image: url("../Introduce/images/p1.png");
  background-size: cover;
}
.imag10 {
  width: 72px; /*이미지 오른쪽 여백 지우기*/
  color: red;
}

.imag10 > a > img {
  /* 이미지 링크 가능 */
  /* 1첫번째 방법 : div의 크기에 맞게 이미지 넣기: 직접 이미지 크기를 조절해야한다*/
  width: 72px;
  height: 100px;
  object-fit: cover;
  border: 1px solid yellow;
}
.imag11 {
  width: 72px; /*이미지 오른쪽 여백 지우기*/
  color: red;
}

.imag11 > a > img {
  /* 이미지 링크 가능 */
  /* 1첫번째 방법 : div의 크기에 맞게 이미지 넣기: 직접 이미지 크기를 조절해야한다*/
  width: 72px;
  height: 100px;
  object-fit: cover;
  border: 1px solid yellow;
}
.imag12 {
  width: 72px; /*이미지 오른쪽 여백 지우기*/
  color: red;
}

.imag12 > a > img {
  /* 이미지 링크 가능 */
  /* 1첫번째 방법 : div의 크기에 맞게 이미지 넣기: 직접 이미지 크기를 조절해야한다*/
  width: 72px;
  height: 100px;
  object-fit: cover;
  border: 1px solid yellow;
}
