main {
  background: #f2f4f7;
}
.main-container {
  width: 1080px; /*사용 너비*/
  margin: auto; /*좌우 마진 auto 가운데 정렬*/
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 균일한 크기로 3등분 */

  /* 40px로 24등분 -><main> 영역의 전체 height가 계산된다면 height 지정 후 1frfh 사용*/
  grid-template-rows: repeat(24, 40px);
  gap: 10px;
}
.temp-box {
  background: skyblue;
  text-align: center;
  font-size: 30px;
  border: 1px solid red;
}
.box-one {
  grid-column: 1/3; /* 시작 column번호 / 끝 column 번호 */
  grid-row: 1/3; /* 시작 row번호 / 끝 row 번호 */
}
.box-two {
  grid-column: 3/4;
  grid-row: 1/3;
}
.box-three-1 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.box-three-2 {
  grid-column: 1/3;
  grid-row: 4/7;
}
.box-four-1 {
  grid-column: 3/4;
  grid-row: 3/5;
}
.box-four-2 {
  grid-column: 3/4;
  grid-row: 5/7;
}
.box-five {
  grid-column: 1/3;
  grid-row: 7/23;
}
.box-six {
  grid-column: 3/4;
  grid-row: 7/23;
}
.box-seven {
  grid-column: 1/3;
  grid-row: 23/25;
}
.box-eight {
  grid-column: 3/4;
  grid-row: 23/25;
}
