body {
  padding: 50px;
}
.container div {
  text-align: center;
  color: #fff;
  font-size: 2em;
}
.container div:nth-child(1) {
  background: #96ce64;
}
.container div:nth-child(2) {
  background: #00ce64;
}
.container div:nth-child(3) {
  background: #ffce64;
}
.container div:nth-child(4) {
  background: #291e6f;
}
.container div:nth-child(5) {
  background: #ff2e6f;
}
.container div:nth-child(6) {
  background: #ff6cef;
}
.container {
  display: grid;
  /*grid-template-columns: 100px auto 100px; /*3개의 컬럼(열) 첫 컬럼100PX 중간은 auto 마지막 컬럼100px*/
  /*grid-template-rows: 50px 50px; /*2개의 row(행) 높이 50px*/
  grid-template-columns: 100px auto;
  grid-template-rows: 100px 100px 200px;
  grid-gap: 10px; /*간격*/
}
