body {
  background: deeppink;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80px;
  font-family: poppins;
  display: inline-block;
  color: #fff;
  opacity: 0;
  transform: translate(-155px, 0) scale(0.4);
  animation: animate 0.5s forwards;
}
.wrapper span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.wrapper span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.wrapper span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.wrapper span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.wrapper span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.wrapper span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.wrapper span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.wrapper span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.wrapper span:nth-of-type(10) {
  animation-delay: 0.45s;
}
@keyframes animate {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: #fff;
  }
  60% {
    color: wheat;
  }
  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
