body {
  background: #000;
}
.wrapper {
  width: 980px;
  margin: 20% auto;
  list-style: none;
}
.nav-area {
  width: 10%;
  height: 20px;
  float: left;
  margin: 0 15px;
  background: #111;
  padding: 30px;
  font-family: big john;
  text-align: center;
  position: relative;
}
.nav-area:before {
  z-index: +1;
  content: "";
  background: linear-gradient(
    /*45도의 진행 방향을 가지는 선형 크래디언트*/ 45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  -webkit-background-size: 400%;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px); /*가우시안 블러:흐려짐*/
  width: calc(100% + 4px); /* 전체 100%에서 4px 더한 너비 */
  height: calc(100% + 4px);
  animation: animate 20s linear infinite; /* animation: name duration timin-function count*/
  opacity: 0; /*투명도 0 보이지 않음*/
  transition: opacity 0.3s ease;
}
.nav-area:hover:before {
  opacity: 1;
}
.nav-area:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
}
.nav-area a {
  text-decoration: none;
  color: #fff;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
