body,
ul,
h2,
p {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

body {
  background-color: #111; /*전체 색상*/
  color: #999; /*전체 글자색*/
}

.wrapper {
  display: flex; /* 가운데 정렬 하기 위해 flex / 컨텐츠 크기만큼 준다 */
  height: 100vh; /* item의 수직정렬을 위해 wrapper 블럭의 높이 지정 viewport의 전체를 쓴다*/
  justify-content: center; /* wrapper 블럭안에 item 가로 가운데 정렬*/
  align-items: center; /*세로의 가운데 정렬*/
}

.team {
  /*background-color: aqua; /*text 크기만큼의 색상*/
  display: flex; /*가로 배치를 하기 위해 flex*/
  justify-content: center;
  align-items: center; /* 이미지 울렁거림 조절 세로 기준점 */
}

.team-item {
  flex-basis: 100px; /* 이미지 기본사이즈 조절 되지 않는다 직접 img 크기 조절*/
  flex-shrink: 0; /*item이 감소하는 너비의 비율 : 0일 경우 효과 무 hover 됐을 때 좌우 이미지 고정*/
  margin: 0 10px; /*상하 0 좌우 10px*/
  transition: all 0.4s; /* 움직임 속도 */
}

.team-item:hover {
  flex-basis: 160px; /* 마우스 커서가 올라 갔을 때 이미지 크기 조절*/
  margin: 0 20px; /*마우스 커서가 올라 갔을 때 좌/우 이미지를 밀어 낼수 있게*/
}

.team-item img {
  width: 100%; /*부모요소의 크기 만큼 꽉 찬 이미지 너비*/
}

.profile {
  background-color: #222;
  position: relative; /*상대적 절대 위치*/
  overflow: hidden; /* 이미지보다 넘처흐르는 것은 안보이게 한다*/
}

.profile:before {
  /*그라데이션*/
  /*content: "wow";*/
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100,000000+100&0+0,0.95+100 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.95) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.95) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.95) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */

  /*background-color: red;*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
}

.profile_red {
  color: #ff4949;
}

.profile_beige {
  color: rgb(248, 248, 10);
}

.profile_green {
  color: rgb(4, 182, 4);
}

.profile_pink {
  color: rgb(177, 115, 115);
}

.profile_purple {
  color: violet;
}

.profile-contents {
  /*background-color: aqua; /* text의 배경색*/
  position: absolute; /*공간의 차지하지 않고 뜬다*/
  left: 0; /*기본적으로 absolute는 전체 화면에 기준을 둔다*/
  bottom: 0; /*부모요소에게 position: relative;를 준다 바닥면으로 위치*/
  padding: 10px;
}

.profile-contents h2 {
  font-size: 20px; /*이름 직업 글씨 크기 조절*/
}

.profile-contents h2 span {
  display: block; /*직업 줄 바꿈*/
  font-size: 10px;
  min-width: 140px;
}

.profile-contents p {
  color: white;
  font-size: 10px;
  max-height: 0; /*텍스트를 안보이게 한다*/
  overflow: hidden;
  line-height: 1.2; /*한 줄의 높이가 1.2em */
  transition: all 0.4s; /* 0.4초의 부드러운 움직임 */
  opacity: 0; /* 처음 투명도는 0 */
  transition-delay: 0.4s; /* 시작과 끝을 0.4 늦게 한다 */
}

.team-item:hover .profile-contents p {
  /* hover 될때 p 태그를.. */
  opacity: 1;
  max-height: 6em; /* 한 줄의 높이가 1.2em 이면 6em(6줄)을 보이게 한다*/
  margin-top: 0.2em;
}
